@{
    ViewBag.Title = "Contact";
}

<div class="contact">
    <div class="contact_main">
        <div class="contact_main_left"><h3 class="font_color_style">中心简介</h3>
        <p class="font_color_style" style="padding:8px;">    广州大学华软软件学院是经教育部批准举办的本科层次全日制普通高等学校独立学院，由广州大学与广州盈和投资管理有限公司合作举办，实行董事会领导下的院长负责制，董事长由著名爱国侨领、美国美东华人社团联合会总会主席梁冠军先生出任。华软学院以其严谨的治学态度和规范的教育教学管理，赢得了社会的广泛认可和学生及家长的一致好评。</p></div>
        <div class="contact_main_right">
            <div class="contact_main_right_head"><b class="font_color_style">当前位置</b>"网页首页-联系我们"</div>
            <div class="font_color_style" style="margin-top:12px;margin-bottom:12px"><strong>电话：</strong>020-1234567</div>
            <div class="font_color_style" style="margin-top:12px;margin-bottom:12px"><strong>手机：</strong>1376068XXXX</div>
            <div class="font_color_style" style="margin-top:12px;margin-bottom:12px"><strong>联系人：</strong>林淑怡</div>
            <div class="font_color_style" style="margin-top:12px;margin-bottom:12px"><strong>邮箱：</strong>92187XXXX@qq.com</div>
            <iframe src="http://map.baidu.com/?newmap=1&ie=utf-8&s=s%26wd%3D%E5%B9%BF%E5%B7%9E%E5%A4%A7%E5%AD%A6%E5%8D%8E%E8%BD%AF%E5%AD%A6%E9%99%A2" width="720" height="380" frameborder="0" style="border:0" allowtransparency="false"></iframe>
        </div>
       
    </div>


</div>