@{
    ViewBag.Title = "首页";
}

<div class="home_bg1_bg">
    <div class="home_bg1">
        <div>
            <img style="padding-top:30px;margin:0 auto;" src="~/Picture/home_pro_head.png" />
        </div>
        <div style="width:1000px;height:216px;color:red;"></div>
    </div>
</div>



<div class="home_bg2_bg">
    <div class="home_bg2">
        <div class="home_mszf">
            <img src="~/Picture/home_mszf_head.png" />
            <div style="width:678px;margin:auto;padding-left:12px;color:red;">
                <br>dsfsfdfssssssss</br>
                <br>dsfsfdfssssssss</br><br>dsfsfdfssssssss</br><br>dsfsfdfssssssss</br>
            </div>
        </div>


        <div class="home_sftd ">
            <img src="~/Picture/home_sftd_head.png" />
            <div class="home_sftd_bg"><br>adsffffffffff</br><br>adsffffffffff</br><br>adsffffffffff</br></div>
        </div>

        <div style="padding-top:30px;">
            <img src="~/Picture/home_ad.jpg" />
        </div>
    </div>

</div>


