@model gz.Models.Login

@{
    ViewBag.Title = "登录";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <div class="div_content_group">
        <div class="div_content_group_content">
            <h4 style="margin:auto;width:300px">用户登录</h4>
            <div class="login_group_input">
                @Html.EditorFor(model => model.MemberAccount, new { htmlAttributes = new { @class = "form-control_desgin", @placeholder = "账号" } })
                @Html.ValidationMessageFor(model => model.MemberAccount, "*账号不能为空", new { @class = "text-danger" })
            </div>
            <div class="login_group_input">
                @Html.PasswordFor(model => model.MemberPassWord, new { @class = "form-control_desgin", @placeholder = "密码" })
                @Html.ValidationMessageFor(model => model.MemberPassWord, "*密码不能为空", new { @class = "text-danger" })
            </div>


            <div class="register_content">
               
                    <input type="submit" value="登 录" class="login_button" />
                
            </div>
        </div>
    </div>
}


