@model IEnumerable<gz.Models.NewsTitle>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NewsTitleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NewsTitleName)
        </td>
        <td>
            @Html.ActionLink("详细", "Edit", new { id=item.NewsTitleID,title= item.NewsTitleName}) |
          
        </td>
    </tr>
}

</table>
